<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-6">

            <div class="jumbotron">
                <h1 class="display-4">Amazon</h1>
                <p class="lead">A to Z</p>
                <hr class="my-4">
                <p>Place Order</p>
                <a class="btn btn-outline-primary btn-lg" role="button" th:href="@{/ui/channel}">Go to channel</a>
            </div>

        </div>
    </div>
</div> <!--Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>