<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div th:replace="snippets.html :: toast_box"></div>

<div class="container">

    <h3>Order</h3>

    <div class="row">
        <div class="col-12">
            <div class="form-row">
                <div class="form-group col-md-4 font-weight-bold" id="channel-DropDown">
                    <label for="selectChannel"> Channel </label>
                    <select class="form-control form-control-sm" id="selectChannel" name='channelId'>
                        <option disabled hidden selected>Select name</option>
                    </select>
                </div>
                <div class="form-group col-md-4 font-weight-bold" id="client-DropDown">
                    <label for="selectClient"> Client</label>
                    <select class="form-control form-control-sm" id="selectClient" name='clientId'>
                        <option disabled hidden selected>select name</option>
                    </select>
                </div>
                <div class="form-group col-md-4 font-weight-bold" id="customer-DropDown">
                    <label for="selectCustomer">Customer </label>
                    <select class="form-control form-control-sm" id="selectCustomer" name='customerId'>
                        <option disabled hidden selected>select name</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <form id="order-form">
        <div class="form-row">
            <div class="form-group col-md-4 font-weight-bold">
                <label for="channelSkuId">Channel SKU </label>
                <input class="form-control form-control-sm" oninput="checkAdd()" name="channelSkuId" type="text" placeholder="Enter channel SKU">
            </div>
            <div class="form-group col-md-4 font-weight-bold">
                <label for="quantity">Quantity</label>
                <input class="form-control form-control-sm" oninput="checkAdd()" name="quantity" type="text" placeholder="Enter a positive integer">
            </div>
            <div class="form-group col-md-3 input-group-sm font-weight-bold ">
                <label for="sellingPricePerUnit">MRP</label>
                <div class="input-group-prepend input-group-sm">
                    <span class="input-group-text">₹</span>
                    <input class="form-control" id="Mrp" name="sellingPricePerUnit" oninput="checkAdd()" type="text" placeholder="Enter positive number">
                </div>
            </div>
            <div class="col-auto">
            <button class="btn btn-outline-primary btn-sm mb-2" id="add-order" type="button" style="margin-top:2rem" disabled>Add</button>
        </div>
        </div>
        
    </form>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-hover" id="order-table">
        <thead>
            <!--dynamically add-->
        </thead>
        <tbody>
        <!-- dynamic generation of rows-->
        </tbody>
    </table>
</div>

    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-row">
                <div style="margin-top:2rem;">
                    <button class="btn btn-outline-primary btn-sm mb-2" id="afresh" type="button">Start Fresh</button>
                </div>
                <div class="form-group col-md-4 font-weight-bold" id="total-Price" style="float: right;">
                    <label for="channelOrderId form-control-sm">Total Amount </label>
                    <input class="form-control form-control-sm" id="totalPrice" readonly type="text">
                </div>
                <div class="form-group col-md-4 font-weight-bold" style="float: right;">
                    <label for="channelOrderId">Channel Order ID</label>
                    <input class="form-control form-control-sm" id="channelOrderId" name="channelOrderId" type="text">
                </div>
                <div style="margin-top:2rem; float: right;">
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-outline-success btn-sm mb-2" id="confirm" type="button">Confirm Order</button>
                </div>
            </div>
        </div>
    </div>


     <div class="modal" tabindex="-1" role="dialog" id="confirmation-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-secondary">
        <h5 class="modal-title font-weight-bold">Reset Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            All the changes made would be lost. Are you sure you?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-outline-primary btn-sm" id="confirm-reset">Yes</button>
      </div>
    </div>
  </div>
</div>



    <div class="modal" id="edit-order-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Order</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="order-edit-form">
                        <div class="form-group">
                            <label class="col-4" for="name">Product Name:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="name" placeholder="enter product name" readonly
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="mrp">Brand ID:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="brandId" placeholder="enter brand ID" readonly
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-4" for="Mrp">Quantity:</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="quantity" name="quantity" placeholder="enter the Quantity"
                                       type="text">
                            </div>
                        </div>
                        <input name="channelSkuId" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary btn-sm" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-outline-primary btn-sm" id="update-order" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>


</div><!-- container-->

<com-footer th:replace="snippets.html :: name_footer"></com-footer>
<script th:src="@{/static/channel.js}"></script>
</body>

</html>

