<head th:fragment="name_head">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="baseUrl" th:attr="content=${baseUrl}">

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c30beb553f.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/app.css}">

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1" th:fragment="name_site_navbar">
    <!-- <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/static/logo.jpg}" class="d-inline-block align-top" alt="">
    </a>
   -->
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark  mb-1" th:fragment="name_app_navbar">
    <a class="navbar-brand" th:href="@{/}">
       INCREFF
    </a>

    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ui/channel}">Order</a>
            </li>
        </ul>


    </div>
</nav>

<div aria-atomic="true" aria-live="assertive" class="toast" data-delay="10" id="PopUpToast" role="alert"
     style="position: fixed; top: 2rem; right: 2rem;" th:fragment="toast_box">
    <div class="toast-header text-white" id="toast-header">

        <!-- dynamically generate header-->

    </div>
    <div class="toast-body bg-light text-dark" id="toast-body">
        <!--dynamically generate this depending upon error-->
    </div>
</div>


<com-footer th:fragment="name_footer">
    <footer class="footer  mt-1">
        &copy; Copyright Increff 2020
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/static/app.js}"></script>
</com-footer>


