<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div th:replace="snippets.html :: toast_box"></div>

<div class="container">


<div class="row">
	 <div class="col-lg-6">
	 	<h3>Bin Creation</h3>
	 	<form class="form-inline" id="bin-form">
			      <strong>Bin</strong>&nbsp;&nbsp;
			       <input type="text" class="form-control form-control-sm col-sm-5" name="numberOfBins" id="inputBins" placeholder="Enter number of bins">
			       &nbsp; &nbsp;
			       <button type="button" class="btn btn-outline-primary btn-sm float-right" id="create-bin">Create</button>
		</form>
	</div>
	<div class="col-lg-6">
		<h3>Bin-Wise Inventory</h3>
		<form class="form-inline" id="client-DropDown">
					<strong>Client</strong>&nbsp;&nbsp;
					<select class="form-control form-control-sm col-sm-5"  id="selectClient" name='clientName'>
						<option selected hidden disabled value="">Select name</option>
					</select>
					&nbsp;&nbsp;
				  <button type="button" class="btn btn-outline-primary  btn-sm" id="upload-data">Upload</button>
			</form>
	</div>
</div>
		<!-- Blank Row -->
		<div class="row">
			&nbsp;
		</div>
		<div class="row">
			&nbsp;
		</div>

<h3>Product Information</h3>

<div class="row">
	 <div class="col-12">
	 	<form class="form-inline" id="filter-form">
				<div class="form-group " id="client-DropDown">
						<select class="form-control form-control-sm"  id="selectClientId" name='clientId'>
							<option selected value="">Select client name</option>
						</select>
				</div>
				&nbsp;
				&nbsp;
				<div class="form-group " id="clientSku">
						<input type="text" id="ClientSkuId" class="form-control form-control-sm" name="clientSkuId" placeholder="Enter client SKU">
			</div>
			&nbsp;
			&nbsp;
			<div class="form-group" id="clientSku">
				      <input type="text" id="BinId" class="form-control form-control-sm" name="binId" placeholder="Enter bin ID">
			</div>
			&nbsp;
			&nbsp;
			<button type="button" class="btn btn-outline-primary btn-sm" id="get-productInfo">Search</button>
		</form>
		</div>		
	</div>
</div>

</div><!--container end-->

<!--upload modal-->
<div class="modal" tabindex="-1" role="dialog" id="upload-bin-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload Bin-Wise Inventory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="product-file">
		  <input type="file" class="custom-file-input" id="binFile">
		  <label class="custom-file-label" for="productFile" id="binFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/bin.csv}" target="_blank">Download Sample</a> 
		<br>
		Rows: <span id="rowCount">0</span>, 
		Processed: <span id="processCount">0</span>, 
		Errors: <span id="errorCount">0</span>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-primary btn-sm" id="process-data">Upload</button>
        <button type="button" class="btn btn-outline-danger btn-sm" id="download-errors" disabled>Download Errors</button>
      </div>
    </div>
  </div>
</div>

	

<!-- bin/product display modal-->
 <div class="modal" tabindex="-1" role="dialog" id="bin-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bin/Product Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<table class="table table-hover" id="filter-table" style ="overflow-y:auto">
			  <thead class="thead-light">
			    <!--dynamically filled when display clicked-->
			  </thead>
			  <tbody >
				    <!-- dynamic generation of rows-->
			  </tbody>
			</table>

      </div>
    </div>
  </div>
</div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/bin.js}"/></script>

</body>	

</html>