<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div th:replace="snippets.html :: toast_box"></div>

<div class="container">
	<h3>Create Channel</h3>
		<form class="form-inline" id="channel-form">
			<div class="form-group">
			    <label for="inputName" class="font-weight-bold">Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control form-control-sm" name="name" id="inputName" placeholder="Enter name">
			    </div>
			  </div>  
			<div class="form-group " id="Invoice-DropDown">
				     <label for="selectInvoice" class="font-weight-bold"> Invoice Type </label>
				      &nbsp;
				      &nbsp;
						<select class="form-control form-control-sm"  id="selectInvoice" name='invoiceType'>
							<option selected value="SELF">Self</option>
							<option value="CHANNEL">Channel</option>
						</select>
					  </div>	
					  &nbsp;
					  &nbsp;	
			<button type="button" class="btn btn-outline-primary btn-sm" id="add-channel">Add</button>
	</form>

<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>

<h3>Add Channel Listing</h3>
<div class="row">
	 <div class="col-12">
	 	<div class="form-inline">
	 		<label for="selectClient" class="font-weight-bold"> Client </label>
				  <div class="form-group col-md-3" id="client-DropDown">   
						<select class="form-control form-control-sm col-11"  id="selectClient" name='clientId'>
							<option selected hidden disabled val="">Select name</option>
						</select>
					  </div>

					<label for="selectChannel" class="font-weight-bold"> Channel </label>
				 <div class="form-group col-md-4" id="channel-Dropdown">
				      <select class="form-control form-control-sm col-8"  id="selectChannel" name='channelId'>
							<option selected hidden disabled val="">Select name</option>
						</select>
						
					  &nbsp;
					  &nbsp;	
						<button type="button" class="btn btn-outline-primary btn-sm" id="upload-channels">Upload</button>   
				  </div>
		</div>
	</div>
</div>


<!--upload Modal-->
<div class="modal" tabindex="-1" role="dialog" id="upload-channel-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload Channel Listing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="channel-file">
		  <input type="file" class="custom-file-input" id="channelFile">
		  <label class="custom-file-label" for="channelFile" id="channelFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/channel.csv}" target="_blank">Download Sample</a> 
		<br>
		Rows: <span id="rowCount">0</span>, 
		Processed: <span id="processCount">0</span>, 
		Errors: <span id="errorCount">0</span>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-primary btn-sm" id="process-data">Upload</button>
        <button type="button" class="btn btn-outline-danger btn-sm" id="download-errors" disabled>Download Errors</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/channel.js}"/></script>

</body>	

</html>