<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Home</h3>

 <!-- Top row with form-->
<div class="row">
	 <div class="col-md-2">
	 	<a th:href="@{/ui/member}" title="Client/Customer"> <i class="fas fa-user"></i>Member</a>
	 </div>	

	 <div class="col-md-2">
	 	<a th:href="@{/ui/product}" title="Product"><i class="fas fa-gifts"></i>Product</a>
	 </div>	
	 <div class="col-md-2">
	 	<a th:href="@{/ui/bin}" title="Bin"> <i class="fas fa-inbox"></i>Bin</a>
	 </div>	
	<div class="col-md-2">
	 	<a th:href="@{/ui/channel}" title="Channel"> <i class="fas fa-truck"></i>Channel</a>
	 </div>	

	 <div class="col-md-2">
	 	<a th:href="@{/ui/order}" title="Orders"> <i class="fas fa-cart-plus"></i>Order</a>
	 </div>	
</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>