<!doctype html>

<html lang="en">

	<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_app_navbar"></nav>
	<div th:replace="snippets.html :: toast_box"></div>

	<div class="container">
		<h3>Customer/Client</h3>
		<form class="form-inline" id="member-form">
			<div class="form-group">
			    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="name" id="inputName" placeholder="enter name">
			    </div>
			  </div>
			  Type of Membership:   
			<div class="custom-control custom-radio custom-control-inline">
			  &nbsp;
			  <input type="radio" id="customRadioInline1" name="type"  value="CLIENT" class="custom-control-input">
			  <label class="custom-control-label" for="customRadioInline1" checked>Client</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" id="customRadioInline2" name="type" value="CUSTOMER" class="custom-control-input">
			  <label class="custom-control-label" for="customRadioInline2">Customer</label>
			</div>		
			<button type="button" class="btn btn-primary" id="add-member">Add</button>
	</form>



<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>	


<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="member-table">
	  <thead>
	    <tr>
	      <th scope="col">S.No.</th>
	      <th scope="col">Name</th>
	      <th scope="col">Type</th>
	    </tr>
	  </thead>
	  <tbody>
	    <!--dynamically generate-->
	  </tbody>
	</table>

</div>
</div>


	</div> <!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>

	<script th:src="@{/static/member.js}"/></script>

</body>	

</html>