<!doctype html>

<html lang="en">

	<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_app_navbar"></nav>
	<div th:replace="snippets.html :: toast_box"></div>

	<div class="container">
		<h3><span class="heading">Member</span></h3>
		<form class="form-inline" id="member-form">
			<div class="form-group">
			    <label for="inputName"><strong>Name:</strong></label>
			    <div class="col-md-3">
			      <input type="text" class="form-control form-control-sm" name="name" id="inputName" placeholder="Enter name">
			    </div>
			  </div>
			  <label for="selectClientName" ><strong>Type:</strong></label>
			  <div class="col-md-2" id="client-DropDown">
			     		<select class="form-control form-control-sm"  id="selectClient" name='type' style="width:100%">
						<option selected hidden disabled>Select type</option>
						<option  value="CLIENT">Client</option>
						<option value="CUSTOMER">Customer</option>
					</select>
			</div>
			<button type="button" class="btn btn-outline-primary btn-sm" id="add-member">Add</button>
	</form>



<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>	


<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-hover" style="width:80%" id="member-table">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">S.No.</th>
	      <th scope="col">Name</th>
	      <th scope="col">Type</th>
	    </tr>
	  </thead>
	  <tbody>
	    <!--dynamically generate-->
	  </tbody>
	</table>

</div>
</div>


	</div> <!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>

	<script th:src="@{/static/member.js}"/></script>

</body>	

</html>