<!doctype html>

<html lang="en">

	<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_app_navbar"></nav>
	<div th:replace="snippets.html :: toast_box"></div>

<div class="container">
<h3>Upload Order</h3>
<div class="row">
	 <form class="col-12">
	 	<div class="form-row">
				  <div class="form-group col-md-6 col-lg-3" id="client-DropDown">
			      Select the Client
					<select class="form-control"  id="selectClient" name='clientId'>
						<option selected hidden disabled>Select Client</option>
					</select>
				</div>

				 <div class="form-group col-md-6 col-lg-3" id="customer-Dropdown">
			      Select the Customer
					<select class="form-control" id="selectCustomer" name="customerId">
						<option selected hidden disabled>Select Customer</option>
					</select>
				</div>
				<div class="form-group col-md-6 col-lg-3">
					ChannelOrderId
			      <input type="text" name="channelOrderId" class="form-control" id="inputOrderId" placeholder="Enter Channel Order ID">
			  </div>
			  <div class="col-md-6 col-lg-3">
				  	<div class="row">
						&nbsp;
					</div>
			  <button type="button" class="btn btn-primary" id="add-order">Upload Order</button>

		</div>
		</div>
	</form>
</div>

<h3>Past Orders  <button type="button" class="btn btn-primary" id="refresh">Refresh</button></h3>

<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="order-table">
	  <thead>
	    <tr>
	      <th scope="col">ORDER ID</th>
	      <th scope="col">CHANNEL ORDER ID</th>
	      <th scope="col">STATUS</th>
	      <th scope="col">CREATION DATE</th>
	      <th scope="col" colspan="3">ACTIONS</th>
	    </tr>
	  </thead>
	  <tbody>
	    <!--dynamically generate-->
	  </tbody>
	</table>

</div>
</div>


<!-- order details Modal-->
 <div class="modal" tabindex="-1" role="dialog" id="order-details-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invoiceNumber"> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<table class="table table-striped" id="item-table">
	  <thead>
	    <tr>
	      <th scope="col">Product</th>
	      <th scope="col">Brand</th>
	      <th scope="col">Quantity</th>
	      <th scope="col">Unit Price</th>
	      <th scope="col">Amount</th>
	    </tr>
	  </thead>
	  <tbody>
	    <!--dynamically generate-->
	  </tbody>
	</table>

      </div>
      <div class="modal-footer" >
      	<h5 id="totalBill" style="margin-right:10rem;"> </h5>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






</div>

	<footer th:replace="snippets.html :: name_footer"></footer>

	<script th:src="@{/static/order.js}"/></script>

</body>	

</html>