<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div th:replace="snippets.html :: toast_box"></div>
<div class="container">

<h3>Product</h3>

<div class="row">
	 <div class="col-12">
	 	<div class="form-inline">
				  <div class="form-group col-lg-12 font-weight-bold" id="brand-DropDown">
				    <label for="selectClient">Client</label>
				      &nbsp; &nbsp;
						<select class="form-control form-control-sm col-md-2"  id="selectClient" name='clientName'>
							<option selected hidden disabled value="">Select name</option>
						</select>
					&nbsp; &nbsp;
					<button type="button" class="btn btn-outline-primary btn-sm" id="upload-products">Upload</button>
					 &nbsp; &nbsp;
					<button type="button" class="btn btn-outline-primary btn-sm" id="display-products">Display</button>
					</div>
		</div>
	</div>
</div>


<div class="row">
	&nbsp;
</div>

<table class="table table-hover" id="product-table" style ="overflow-y:auto">
  <thead class="thead-light">
    <!--dynamically filled when display clicked-->
  </thead>
  <tbody >
	    <!-- dynamic generation of rows-->
  </tbody>
</table>

<!--upload modal-->
<div class="modal" tabindex="-1" role="dialog" id="upload-product-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload Products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="product-file">
		  <input type="file" class="custom-file-input" id="productFile">
		  <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/product.csv}" target="_blank">Download Sample</a> 
		<br>
		Rows: <span id="rowCount">0</span>, 
		Processed: <span id="processCount">0</span>, 
		Errors: <span id="errorCount">0</span>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-primary btn-sm" id="process-data">Upload</button>
        <button type="button" class="btn btn-outline-danger btn-sm" id="download-errors" disabled>Download Errors</button>
      </div>
    </div>
  </div>
</div>


<!-- Product Edit-->
 <div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
  <div class="modal-dialog modal-sm modal-dialog-scrollable " role="document">
    <div class="modal-content">
      <div class="modal-header text-secondary">
        <h5 class="modal-title font-weight-bold">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form class="form-horizontal text-secondary" id="product-edit-form">
			  <div class="form-group">
			    <label for="clientSku" class="font-weight-bold col-12">Client SKU:</label>
			    <div class="col-12">
			      <input type="text" readonly class="form-control form-control-sm" name="clientSku" id="clientSku" placeholder="Enter product name">
			    </div>
		
			  </div>
			  <div class="form-group">
			    <label for="name" class="font-weight-bold col-4">Product:</label>
			    <div class="col-12">
			      <input type="text" class="form-control form-control-sm" name="name" id="name" placeholder="Enter product name">
			    </div>

			  </div>
			  <div class="form-group">
			    <label for="brand" class="font-weight-bold control-label col-4">Brand:</label>
			    <div class="col-12">
			      <input type="text" class="form-control form-control-sm" name="brandId" id="brand" placeholder="Enter brand name">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="Mrp" class="font-weight-bold control-label col-4">MRP:</label>
			    <div class="col-12">
			      <input type="text" class="form-control form-control-sm" id="Mrp" name="mrp" placeholder="Enter the MRP">
			    </div>
			  </div>
			  <div class="form-group">
				  <label for="Description" class="font-weight-bold col-4">Description:</label>
				  <div class="col-12">
			      <textarea class="form-control form-control-sm" rows="4" id="Description" name="description" placeholder="Enter some description"></textarea>
			    </div>
				</div>
 	        <input type="hidden" name="globalSkuId" >
			</form>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-primary btn-sm" id="update-product">Update</button>
      </div>
    </div>
  </div>
</div>






</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/product.js}"/></script>

</body>	

</html>