html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}


table {
	text-align: center;
}

.scrollable-menu {
    height: auto;
    max-height: 80px;
    overflow-x: hidden;
}

.toast{
	z-index: 100;
}

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}


#toast-body{
	z-index: 99999;
}
.toast{
  z-index:99999;
}
#toast-header{
  z-index: 99999;
}



.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 35px; /* Set the fixed height of the footer here */
	line-height: 40px; /* Vertically center the text there */
	text-align: center;
	color: rgba(255,255,255,.5);
	background-color: #1d2124;
}


.fas{
    font-size: 4rem;
}